.iframely-option__input.iframely-option__text {
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 13px;
  line-height: normal;
  transition: box-shadow 0.1s linear;
  border-radius: 2px;
  border: 1px solid #757575;

  &:focus {
    border-color: var(--wp-admin-theme-color);
    box-shadow: 0 0 0 1px var(--wp-admin-theme-color);
    outline: 2px solid transparent;
  }
}
