.iframely-mb-05em {
  margin-bottom: 0.5em;
}
.iframely-mb-1em {
  margin-bottom: 1em;
}
.iframely-mb-15em {
  margin-bottom: 1.5em;
}
.iframely-mb-2em {
  margin-bottom: 2em;
}
.iframely-mb-intro {
  margin: 1.75em 0;
}

.iframely-mt-05em {
  margin-top: 0.5em;
}
.iframely-mt-1em {
  margin-top: 1em;
}
.iframely-mt-15em {
  margin-top: 1.5em;
}
